In [1]:
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [4]:
df_fst_tests = pd.read_csv("csv/init_tests.csv")
df_snd_tests = pd.read_csv("csv/second_tests.csv")
df_personal_attributes = pd.read_csv("csv/personal_attributes.csv")

df_fst_tests

,Unnamed: 0,Cultural empathy first,Open-mindedness first,Social initiative first,Emotional stability first,Flexibility first
0,0,5.844,6.176,5.260,3.620,3.071
1,1,6.019,4.929,6.001,4.576,3.356
2,2,5.628,6.070,4.830,3.932,3.224
3,3,5.536,6.299,5.479,3.984,3.667
4,4,5.631,4.868,5.813,3.891,3.409
...,...,...,...,...,...,...
995,995,4.349,6.275,5.571,4.589,3.844
996,996,6.046,5.794,4.506,4.821,3.210
997,997,5.577,6.551,5.036,4.450,3.611
998,998,5.901,6.221,5.548,4.833,3.822
999,999,6.252,6.300,4.888,4.557,2.680

In [5]:
df_snd_tests

,Unnamed: 0,Cultural empathy first,Open-mindedness first,Social initiative first,Emotional stability first,Flexibility first
0,0,7.000000,7.000000,6.085176,4.691983,3.668477
1,1,7.000000,5.962688,6.329951,4.780728,3.768578
2,2,5.790187,6.551533,5.267753,3.997601,3.781364
3,3,6.526825,7.000000,6.214720,5.062908,4.294867
4,4,7.000000,6.324596,6.585306,4.365844,4.111322
...,...,...,...,...,...,...
995,995,5.426899,7.000000,6.582487,5.442140,4.929797
996,996,7.000000,7.000000,4.940197,5.304996,3.819855
997,997,6.705687,7.000000,5.759734,5.466338,3.979710
998,998,6.170795,6.828397,5.957353,5.444811,3.864466
999,999,7.000000,7.000000,6.135327,5.332038,3.617567

In [7]:
df_personal_attributes

,Unnamed: 0,Gender,Age,Prior education,Course of studies,Year of study,Nationality,Parent occupation,Previous international experience,Languages
0,0,Male,20,Gymnasium,International business,0,South-African,Marine,I went to Germany once,"['Dutch', 'English']"
1,1,Female,17,VWO,International business,0,Belgium,NaN,I basically have none,['English']
2,2,Male,23,VMBO,International business,0,Korean,Marine,I have backpacked through Australia for half a...,"['English', 'Korean']"
3,3,Male,18,VMBO,International business,0,Dutch,NaN,My father has been relocated to a lot of diffe...,"['Dutch', 'English']"
4,4,Male,17,Gymnasium,International business,0,Spain,Life coach,My father has been relocated to a lot of diffe...,"['English', 'Spanish']"
...,...,...,...,...,...,...,...,...,...,...
995,995,Female,22,VMBO,International business,0,USA,Politician,I have traveled a lot with my family on vacations,['English']
996,996,Male,20,VWO,International business,0,British,Doctor,I have backpacked through Australia for half a...,['English']
997,997,Male,21,VMBO,International business,0,South-African,Taxi driver,I have traveled a lot with my family on vacations,"['Dutch', 'English']"
998,998,Female,22,HAVO,International business,0,Korean,Life coach,I went to Germany once,"['English', 'Korean']"
999,999,Male,24,HAVO,International business,0,German,Life coach,I have backpacked through Australia for half a...,"['English', 'German', 'French']"